extends layouts/base

block content
  main.main
    .container
      .main__logo
        img.logo__image(src="img/logo.png", alt="logo")
        span.logo__name дезинтекс
      p.main__meaning дезинфицирующий концентрат
      section.main__content
        h1.main__title Защитите свой дом от микробов и вирусов
        .main__advantages
          img.main__bottles(src="img/bottles.png", alt="bottles")
          .advantages__list
            .advantages__item
              img.advantages__img(src="img/advantage.svg", alt="advantage")
              p.advantages__title Уничтожает до <span class="red">100%</span> опасных микроорганизмов
            .advantages__item
              img.advantages__img(src="img/advantage.svg", alt="advantage")
              p.advantages__title Защищает поверхность до <span class="red">48 часов</span> 
            .advantages__item
              img.advantages__img(src="img/advantage.svg", alt="advantage")
              p.advantages__title <span class="red">Абсолютно безопасен</span> для человека и животных
      section.main__form
        .form__header
          h3.form__title Успей до конца акции
          .clock

        .form__content
          h3.form__content-title Специальная цена
          span.cost-red 149₽
          span.line-through 1901₽
          .form__content-info
            select.content-info__country
              option.country__item(value="" disabled selected hidden) Страна
              option.country__item(value="Russia") Россия
              option.country__item(value="China") Китай
            input.content-info__name(type="text" placeholder="Имя")
            input.content-info__phone(type="text" placeholder="Номер телефона")
            button.form__btn Заказать
            



